.menu {
    display: flex;
	float: right;
	margin-right: 50px;
    padding: 0;
}

.menu li {
	display: inline-flex;
    height: 40px;
    margin: 0 15px;
    margin-top: 7px;
    align-items: center;
}

/* Definições para o botão hamburguer (só aparece nos ecrãs com largura menor)*/
.center-hamber{
    display: grid;
    place-items: center;
    width: 0;
    height: 0;
}
.hamber { 
    display: none;
    cursor: pointer;
}
.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.change.bar1{
    transform: translate(0, 11px) rotate(-45deg);
}
.change.bar2{
    opacity: 0;
}
.change.bar3{
    transform: translate(0, -11px) rotate(45deg);
}

/* As seguintes instruções são para os botões */
.link{
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white;
    cursor: pointer;
}

.link::before, .link::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: darkblue;
    transform: scaleX(0);
    transition: .25s;
}

.link::before{
    top: -6px;
    transform-origin: left;
}

.link::after{
    bottom: -6px;
    transform-origin: right;
}

.link:hover::after, .link:hover::before{
    transform: scaleX(1);
}
.drop-content{
    display: none;
    position: absolute;
    background-color: rgb(32, 90, 145);;
    top: 80px;
    right: 10px;
    flex-direction: column;
    padding: 0;
    width: 200px;
    cursor: pointer;
}
.showMenu{
    display: flex;
}
.drop-content li{
    color: white;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 50px;
}
.drop-content li:hover{
    background-color: rgb(48, 136, 218);
    transition: 0.5s;
}


/* Estrutura para o telemóvel */
@media (max-width: 769px){
    .center-hamber{
        height: 80px;
        width: 80px;
    }
    .hamber{
        display: inline-block;
    }
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 64px;
        right: 0;
        background-color: rgb(37, 103, 165);
        z-index: 2;
        width: 500px;
        margin-right: 0;
        transition: 1s ease-in-out;
    }
    .menu li {
        padding-left: 16px;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .link::before, .link::after{
        width: 0;
    }
    .menu.active{
        display: flex;
    }
}