/*------ Input -------*/
.input_txt{
    position: relative;
    height: 40px;
    width: 300px;
    border: none;
    float: left;
    padding-left: 15px;
    outline: none;
    shape-outside: none;
    z-index: 2;
}
/*--------------------*/

/* ----- Lista ----- */
/* Lista global da ajuda */ 
.list{
    background-color: rgb(192, 192, 192);
    border-radius: 20px;
    padding: 15px;
    padding-top: 50px;
}

/* Config. de cada ajuda */
.menu_option:hover{
    background-color: rgb(112, 112, 112);
    padding: 3px;
    cursor: pointer;
}

@media (max-width: 769px){
    .input_txt{
        border-radius: 20px;
        border-bottom: 1px solid grey;
        box-shadow: 0 0 10px black;
    }
}