@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

.page404{
    text-align: center;
    width: 100vw;
    margin-top: 50px;
}

.title{
    margin: 0;
    font-size: 60px;
    font-family: "Mansalva";
}
.img_div{
    margin: 30px;
}
.subtitle{
    font-size: 20px;
}

.img{
    width: 50%;
    size: auto;
}

.conect {
    text-decoration: underline;
    color: rgb(0, 51, 92);
    transition: 0.5s ;
}
.conect:hover{
    color: black;
    background-color: aquamarine;
}