/* Definem todo o conteúdo para botão de realizar a pergunta */
.center{
    display: grid;
    place-items: center;
}
.questionNotFound{
    display: grid;
    place-items: center;
    margin: 50px;
    padding: 20px 0;
    background-color: rgb(57, 159, 255);
    width: 40%;
}
.link-faq{
    display: grid;
    place-items: center;
    height: 20px;
    padding: 10px;
}